# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_SNN_LEFT
	def_bool $(shields_list_contains,snn_left)

config SHIELD_SNN_RIGHT
	def_bool $(shields_list_contains,snn_right)
